<div class="registration-form">
  <div class="form-icon">
    <span><i class="icon icon-user"></i></span>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control item", placeholder: "Username" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password, 'Senha' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control item", placeholder: "Username" %>
      </div>
    </div>

    <div class="form-check">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class:"form-check-input", type:"checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    </div>

    <div class="form-group actions">
      <%= f.submit "Entrar", class:"btn btn-block create-account" %>
    </div>

  <% end %>
  <div class="social-media row">
      <%= render "devise/shared/links" %>
  </div>
</div>
